.navbar {
  background: linear-gradient(to left, rgb(32, 90, 166),#120A8F);
  color:#ffff;
  position:sticky;
  top:0;
  z-index:10;
  width:100%;
  height:5.5rem;
  display:flex;
  justify-content:space-around;
  box-sizing:border-box;
  align-items:center;
  padding:1rem;
  margin-bottom:1rem;
}

.search-form {
  flex-grow:1;
  display:flex;
  justify-content:center;
}

.search-form > input {
  outline:none;
  border:none;
  border-radius:10px;
  padding:0.5rem;
  width:50%;
  height:2rem;
  font-size:1.25rem;
  margin-right:1rem;
}

.menu-nav {
  display:flex;
  justify-content:center;
  align-items:center;
}


.menu-nav > h3 {
  font-size:1.5rem;
}

.menu-nav > .wrap-icon {
  margin-left:1rem;
}

.wrap-icon {
  width:3rem;
  height:3rem;
  cursor:pointer;
  background:#120A8F;
  border: 1px solid #ffff;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.wrap-icon:hover {
  border: 1px solid rgb(90, 90, 90);
}


body {
  height:300vh;
  margin:0;
  box-sizing:border-box;
}

@media screen and (max-width:980px) {
  .menu-nav, .profile {
    display:none;
  }
  .search-form > input {
    width:80%;
  }
}